{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--<div class="container">-->
<!-- <div class="px-4 py-5 my-5 text-center">-->
<!--&lt;!&ndash;    <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">&ndash;&gt;-->
<!--    <h1 class="display-5 fw-bold">Face detection</h1>-->
<!--    <div class="col-lg-6 mx-auto">-->
<!--      <p class="lead mb-4"> Use the following form to upload your image for face detection. This image will not be stored. Only processed and displayed.</p>-->

<!--      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">-->
<!--          <div class="col-auto">-->
<!--    <input class="form-control" type="file" id="inputImage">-->
<!--  </div>-->
<!--  <div class="col-auto">-->
<!--    <button type="submit" class="btn btn-primary mb-3">Run</button>-->
<!--  </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!-- <form method="POST" id="ajax"  enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--        Img:-->
<!--        <br />-->
<!--        <input type="file" name="img">-->

<!--        <br />-->
<!--        <br />-->
<!--        <button id="submit"  type="submit">Add</button>-->

<!--    </form>-->

<div class="container-sm">

    <p class="h1">Detector API online</p>

    <p>

    </p>
    Paste here your image url and click run. The software will run machine learning algorithms to check whether the image contains
    a ghost or not. It will be shown below. True Digital Ghost can be found only on original images. Those can be purchased on OpenSea.
    <p>
        <form method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Url for your image" aria-label="Image url" aria-describedby="button-addon2" name="img_url">
  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Run</button>
</div>
        </form>
    </p>


<p>
    <img src="{{ img_data }}" class="rounded mx-auto d-block">
    <mark>

      {{ alert }}
    </mark>
</p>

</div>




{% endblock %}