{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="container-sm">

    <p class="h1">Detector API online</p>

    <p>

    </p>
    Paste here your image url and click run. The software will run machine learning algorithms to check whether the image contains
    a ghost or not. It will be shown below. True Digital Ghost can be found only on original images. Those can be purchased on OpenSea.
    <p>
        <form method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Url for your image" aria-label="Image url" aria-describedby="button-addon2" name="img_url">
  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Run</button>
</div>
        </form>
    </p>


<p>
    <img src="{{ img_data }}" class="rounded mx-auto d-block">
    <mark>

      {{ alert }}
    </mark>
</p>

</div>




{% endblock %}